
.dashColor {
  background-color: #242424;
  height: 620px;
  width: 1000px;
  border-radius: 45px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.leftnav {
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  display: block;
  width: 100px;
  height: 100%;
  background-color: #161717;
  position: relative;
}

.Logo {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 25px;
  left: 27px;
}

.home {
  position: absolute;
  width: 85px;
  height: 50px;
  top: 110px;
  left: 15px;
  background-color: #000000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;


}

.lay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 134px;
  width: 23px;
  left: 39px;
  height: 270px;
  gap: 40px;
}